<body>
  <!-- <% for(let i=0; i<status200.lenght; i++){ %>
  <h1>Status code <%= status200[i].contenu %></h1>
  <h2><%= status200[i].contenu %></h2>
  <% } %> -->
  <h1>Statuscode <% titre %></h1>
</body>
