<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= titre %></title>
  </head>

  <nav>
    <li><a href="/">accueil</a></li>
    <li><a href="/100">statuscode100</a></li>
    <li><a href="/200">statuscode200</a></li>
    <li><a href="/300">statuscode300</a></li>
    <li><a href="/400">statuscode400</a></li>
    <li><a href="/500">statuscode500</a></li>
    <li><a href="/404">statuscode404</a></li>
  </nav>
</html>
